.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  .subnav {
    flex: 1;
    display: flex;
    gap: 3rem;
    &:nth-child(2) {
      justify-content: center;
    }
    &:nth-child(3) {
      justify-content: flex-end;
    }
  }
  .menuItem {
    opacity: 0.3;
    font-size: 0.8rem;
    cursor: pointer;
  }
  .activeItem {
    opacity: 1;
    cursor: default;
  }
}
